<!DOCTYPE html>
<html>
  <head>
    <title>한봄고등학교 게시판</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="height: 300px;">
      <div style="background: url(https://hanbom.hs.kr/design/home/images/main_bg.jpg) no-repeat center 0;position: absolute;width: 100%;height: 300px;z-index:-1;"></div>
      <div style="padding-top: 30px;width:1200px;margin: 0 auto;position: relative;">
        <div style="height: 50px; float: left;"><img style="height: 100%;" src="https://hanbom.hs.kr/design/home/images/logo_200803.png" alt=""></div>
        <div style="float: left;">
          <ul id="menu">
            <li>학교소개</li>
            <li>입학 안내</li>
            <li>학교 생활</li>
          </ul>
        </div>
      </div>
    </div>
    <div style="width: 1000px;margin: 20px auto;">
      <div style="font-size: 25px;">
        게시판
      </div>
      <div>
        <table>
          <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
          </tr>
          <tr>
              <td>1</td>
              <td>안녕하세요</td>
              <td>김밥</td>
          </tr>
          <tr>
            <td>おにまい</td>
            <td>모두 오니마이보세요 TS라고 꺼릴필요 없습니다.</td>
            <td>C.C</td>
          </tr>

          <tr>
            <td>3</td>
            <td><a href="hello">저를 소개합니다</a></td>
            <td>안태건</td>
          </tr>
          <tr>
             <td>ぼざろ</td>
             <td>모두 외톨이 THE ROCK 보세요 봇치가 귀여워요.. 일본 애니입니다</td>
             <td>owxuxn</td>
          </tr>
          <tr>
            <td>5</td>
            <td>집가고싶다</td>

          </tr>
      </table>
      </div>
    </div>
  </body>
</html>
